@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffff;
  --foreground: #;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-gradient {
  background: linear-gradient(90deg, rgb(17, 255, 0), blue, green);
  -webkit-background-clip: text;
  color: transparent;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

